//----------------------------------------------------
// MDTONE CC0 by Qrac
//----------------------------------------------------

$red-50: hsl(351, 100%, 96%) !default;
$red-100: hsl(354, 100%, 90%) !default;
$red-200: hsl(0, 73%, 77%) !default;
$red-300: hsl(0, 69%, 67%) !default;
$red-400: hsl(1, 83%, 63%) !default;
$red-500: hsl(4, 90%, 58%) !default;
$red-600: hsl(1, 77%, 55%) !default;
$red-700: hsl(0, 65%, 51%) !default;
$red-800: hsl(0, 66%, 47%) !default;
$red-900: hsl(0, 73%, 41%) !default;
$red-a100: hsl(5, 100%, 75%) !default;
$red-a200: hsl(0, 100%, 66%) !default;
$red-a400: hsl(348, 100%, 55%) !default;
$red-a700: hsl(0, 100%, 42%) !default;

$pink-50: hsl(340, 80%, 94%) !default;
$pink-100: hsl(339, 81%, 85%) !default;
$pink-200: hsl(340, 82%, 76%) !default;
$pink-300: hsl(340, 83%, 66%) !default;
$pink-400: hsl(340, 82%, 59%) !default;
$pink-500: hsl(340, 82%, 52%) !default;
$pink-600: hsl(338, 78%, 48%) !default;
$pink-700: hsl(336, 78%, 43%) !default;
$pink-800: hsl(334, 79%, 38%) !default;
$pink-900: hsl(328, 81%, 29%) !default;
$pink-a100: hsl(340, 100%, 75%) !default;
$pink-a200: hsl(340, 100%, 63%) !default;
$pink-a400: hsl(339, 100%, 48%) !default;
$pink-a700: hsl(333, 84%, 42%) !default;

$purple-50: hsl(292, 44%, 93%) !default;
$purple-100: hsl(291, 46%, 83%) !default;
$purple-200: hsl(291, 47%, 71%) !default;
$purple-300: hsl(291, 47%, 60%) !default;
$purple-400: hsl(291, 47%, 51%) !default;
$purple-500: hsl(291, 64%, 42%) !default;
$purple-600: hsl(287, 65%, 40%) !default;
$purple-700: hsl(282, 68%, 38%) !default;
$purple-800: hsl(277, 70%, 35%) !default;
$purple-900: hsl(267, 75%, 31%) !default;
$purple-a100: hsl(291, 95%, 75%) !default;
$purple-a200: hsl(291, 96%, 62%) !default;
$purple-a400: hsl(291, 100%, 49%) !default;
$purple-a700: hsl(280, 100%, 50%) !default;

$deep-purple-50: hsl(264, 45%, 94%) !default;
$deep-purple-100: hsl(261, 46%, 84%) !default;
$deep-purple-200: hsl(261, 46%, 74%) !default;
$deep-purple-300: hsl(262, 47%, 63%) !default;
$deep-purple-400: hsl(262, 47%, 55%) !default;
$deep-purple-500: hsl(262, 52%, 47%) !default;
$deep-purple-600: hsl(260, 54%, 45%) !default;
$deep-purple-700: hsl(258, 58%, 42%) !default;
$deep-purple-800: hsl(255, 61%, 39%) !default;
$deep-purple-900: hsl(251, 69%, 34%) !default;
$deep-purple-a100: hsl(262, 100%, 77%) !default;
$deep-purple-a200: hsl(256, 100%, 65%) !default;
$deep-purple-a400: hsl(259, 100%, 56%) !default;
$deep-purple-a700: hsl(265, 100%, 46%) !default;

$indigo-50: hsl(231, 44%, 94%) !default;
$indigo-100: hsl(232, 45%, 84%) !default;
$indigo-200: hsl(231, 44%, 74%) !default;
$indigo-300: hsl(230, 44%, 64%) !default;
$indigo-400: hsl(231, 44%, 56%) !default;
$indigo-500: hsl(231, 48%, 48%) !default;
$indigo-600: hsl(232, 50%, 45%) !default;
$indigo-700: hsl(232, 54%, 41%) !default;
$indigo-800: hsl(233, 57%, 37%) !default;
$indigo-900: hsl(235, 66%, 30%) !default;
$indigo-a100: hsl(231, 100%, 77%) !default;
$indigo-a200: hsl(231, 99%, 66%) !default;
$indigo-a400: hsl(231, 99%, 62%) !default;
$indigo-a700: hsl(231, 99%, 59%) !default;

$blue-50: hsl(205, 87%, 94%) !default;
$blue-100: hsl(207, 89%, 86%) !default;
$blue-200: hsl(207, 90%, 77%) !default;
$blue-300: hsl(207, 89%, 68%) !default;
$blue-400: hsl(207, 90%, 61%) !default;
$blue-500: hsl(207, 90%, 54%) !default;
$blue-600: hsl(208, 79%, 51%) !default;
$blue-700: hsl(210, 79%, 46%) !default;
$blue-800: hsl(212, 80%, 42%) !default;
$blue-900: hsl(216, 85%, 34%) !default;
$blue-a100: hsl(217, 100%, 75%) !default;
$blue-a200: hsl(218, 100%, 63%) !default;
$blue-a400: hsl(218, 100%, 58%) !default;
$blue-a700: hsl(224, 100%, 58%) !default;

$light-blue-50: hsl(199, 94%, 94%) !default;
$light-blue-100: hsl(199, 92%, 85%) !default;
$light-blue-200: hsl(199, 92%, 74%) !default;
$light-blue-300: hsl(199, 91%, 64%) !default;
$light-blue-400: hsl(199, 92%, 56%) !default;
$light-blue-500: hsl(199, 98%, 48%) !default;
$light-blue-600: hsl(200, 97%, 45%) !default;
$light-blue-700: hsl(201, 98%, 41%) !default;
$light-blue-800: hsl(202, 98%, 37%) !default;
$light-blue-900: hsl(206, 99%, 31%) !default;
$light-blue-a100: hsl(198, 100%, 75%) !default;
$light-blue-a200: hsl(199, 100%, 63%) !default;
$light-blue-a400: hsl(199, 100%, 50%) !default;
$light-blue-a700: hsl(203, 100%, 46%) !default;

$cyan-50: hsl(187, 72%, 93%) !default;
$cyan-100: hsl(187, 71%, 82%) !default;
$cyan-200: hsl(187, 72%, 71%) !default;
$cyan-300: hsl(187, 71%, 59%) !default;
$cyan-400: hsl(187, 71%, 50%) !default;
$cyan-500: hsl(187, 100%, 42%) !default;
$cyan-600: hsl(187, 100%, 38%) !default;
$cyan-700: hsl(186, 100%, 33%) !default;
$cyan-800: hsl(185, 100%, 28%) !default;
$cyan-900: hsl(182, 100%, 20%) !default;
$cyan-a100: hsl(180, 100%, 76%) !default;
$cyan-a200: hsl(180, 100%, 55%) !default;
$cyan-a400: hsl(186, 100%, 50%) !default;
$cyan-a700: hsl(188, 100%, 42%) !default;

$teal-50: hsl(177, 41%, 91%) !default;
$teal-100: hsl(175, 41%, 79%) !default;
$teal-200: hsl(174, 42%, 65%) !default;
$teal-300: hsl(174, 42%, 51%) !default;
$teal-400: hsl(174, 63%, 40%) !default;
$teal-500: hsl(174, 100%, 29%) !default;
$teal-600: hsl(174, 100%, 27%) !default;
$teal-700: hsl(173, 100%, 24%) !default;
$teal-800: hsl(173, 100%, 21%) !default;
$teal-900: hsl(170, 100%, 15%) !default;
$teal-a100: hsl(166, 100%, 83%) !default;
$teal-a200: hsl(166, 100%, 70%) !default;
$teal-a400: hsl(165, 82%, 51%) !default;
$teal-a700: hsl(172, 100%, 37%) !default;

$green-50: hsl(125, 39%, 94%) !default;
$green-100: hsl(122, 38%, 84%) !default;
$green-200: hsl(122, 37%, 74%) !default;
$green-300: hsl(123, 38%, 64%) !default;
$green-400: hsl(123, 38%, 57%) !default;
$green-500: hsl(122, 39%, 49%) !default;
$green-600: hsl(123, 41%, 45%) !default;
$green-700: hsl(123, 43%, 39%) !default;
$green-800: hsl(123, 46%, 34%) !default;
$green-900: hsl(124, 55%, 24%) !default;
$green-a100: hsl(137, 77%, 85%) !default;
$green-a200: hsl(151, 82%, 68%) !default;
$green-a400: hsl(151, 100%, 45%) !default;
$green-a700: hsl(145, 100%, 39%) !default;

$light-green-50: hsl(88, 52%, 94%) !default;
$light-green-100: hsl(88, 51%, 86%) !default;
$light-green-200: hsl(88, 50%, 76%) !default;
$light-green-300: hsl(88, 50%, 67%) !default;
$light-green-400: hsl(88, 50%, 60%) !default;
$light-green-500: hsl(88, 50%, 53%) !default;
$light-green-600: hsl(89, 46%, 48%) !default;
$light-green-700: hsl(92, 48%, 42%) !default;
$light-green-800: hsl(95, 49%, 36%) !default;
$light-green-900: hsl(103, 56%, 26%) !default;
$light-green-a100: hsl(88, 100%, 78%) !default;
$light-green-a200: hsl(88, 100%, 67%) !default;
$light-green-a400: hsl(93, 100%, 51%) !default;
$light-green-a700: hsl(97, 81%, 48%) !default;

$lime-50: hsl(66, 71%, 95%) !default;
$lime-100: hsl(65, 69%, 86%) !default;
$lime-200: hsl(66, 71%, 77%) !default;
$lime-300: hsl(66, 70%, 68%) !default;
$lime-400: hsl(66, 70%, 61%) !default;
$lime-500: hsl(66, 70%, 54%) !default;
$lime-600: hsl(64, 60%, 50%) !default;
$lime-700: hsl(62, 61%, 44%) !default;
$lime-800: hsl(60, 63%, 38%) !default;
$lime-900: hsl(54, 70%, 30%) !default;
$lime-a100: hsl(65, 100%, 75%) !default;
$lime-a200: hsl(65, 100%, 63%) !default;
$lime-a400: hsl(73, 100%, 50%) !default;
$lime-a700: hsl(75, 100%, 46%) !default;

$yellow-50: hsl(55, 100%, 95%) !default;
$yellow-100: hsl(54, 100%, 88%) !default;
$yellow-200: hsl(54, 100%, 81%) !default;
$yellow-300: hsl(54, 100%, 73%) !default;
$yellow-400: hsl(54, 100%, 67%) !default;
$yellow-500: hsl(54, 100%, 62%) !default;
$yellow-600: hsl(49, 98%, 60%) !default;
$yellow-700: hsl(43, 96%, 58%) !default;
$yellow-800: hsl(37, 95%, 56%) !default;
$yellow-900: hsl(28, 92%, 53%) !default;
$yellow-a100: hsl(60, 100%, 78%) !default;
$yellow-a200: hsl(60, 100%, 50%) !default;
$yellow-a400: hsl(55, 100%, 50%) !default;
$yellow-a700: hsl(50, 100%, 50%) !default;

$amber-50: hsl(46, 100%, 94%) !default;
$amber-100: hsl(45, 100%, 85%) !default;
$amber-200: hsl(45, 100%, 75%) !default;
$amber-300: hsl(46, 100%, 65%) !default;
$amber-400: hsl(45, 100%, 58%) !default;
$amber-500: hsl(45, 100%, 51%) !default;
$amber-600: hsl(42, 100%, 50%) !default;
$amber-700: hsl(38, 100%, 50%) !default;
$amber-800: hsl(34, 100%, 50%) !default;
$amber-900: hsl(26, 100%, 50%) !default;
$amber-a100: hsl(48, 100%, 75%) !default;
$amber-a200: hsl(47, 100%, 63%) !default;
$amber-a400: hsl(46, 100%, 50%) !default;
$amber-a700: hsl(40, 100%, 50%) !default;

$orange-50: hsl(37, 100%, 94%) !default;
$orange-100: hsl(36, 100%, 85%) !default;
$orange-200: hsl(36, 100%, 75%) !default;
$orange-300: hsl(36, 100%, 65%) !default;
$orange-400: hsl(36, 100%, 57%) !default;
$orange-500: hsl(36, 100%, 50%) !default;
$orange-600: hsl(33, 100%, 49%) !default;
$orange-700: hsl(30, 100%, 48%) !default;
$orange-800: hsl(27, 100%, 47%) !default;
$orange-900: hsl(21, 100%, 45%) !default;
$orange-a100: hsl(38, 100%, 75%) !default;
$orange-a200: hsl(34, 100%, 63%) !default;
$orange-a400: hsl(34, 100%, 50%) !default;
$orange-a700: hsl(26, 100%, 50%) !default;

$deep-orange-50: hsl(6, 71%, 95%) !default;
$deep-orange-100: hsl(14, 100%, 87%) !default;
$deep-orange-200: hsl(14, 100%, 78%) !default;
$deep-orange-300: hsl(14, 100%, 70%) !default;
$deep-orange-400: hsl(14, 100%, 63%) !default;
$deep-orange-500: hsl(14, 100%, 57%) !default;
$deep-orange-600: hsl(14, 91%, 54%) !default;
$deep-orange-700: hsl(14, 80%, 50%) !default;
$deep-orange-800: hsl(14, 82%, 46%) !default;
$deep-orange-900: hsl(14, 88%, 40%) !default;
$deep-orange-a100: hsl(14, 100%, 75%) !default;
$deep-orange-a200: hsl(14, 100%, 63%) !default;
$deep-orange-a400: hsl(14, 100%, 50%) !default;
$deep-orange-a700: hsl(12, 100%, 43%) !default;

$brown-50: hsl(20, 16%, 93%) !default;
$brown-100: hsl(16, 16%, 81%) !default;
$brown-200: hsl(15, 15%, 69%) !default;
$brown-300: hsl(16, 15%, 56%) !default;
$brown-400: hsl(16, 18%, 47%) !default;
$brown-500: hsl(16, 25%, 38%) !default;
$brown-600: hsl(15, 25%, 34%) !default;
$brown-700: hsl(14, 26%, 29%) !default;
$brown-800: hsl(11, 26%, 24%) !default;
$brown-900: hsl(9, 28%, 19%) !default;

$grey-50: hsl(0, 0%, 98%) !default;
$grey-100: hsl(0, 0%, 96%) !default;
$grey-200: hsl(0, 0%, 93%) !default;
$grey-300: hsl(0, 0%, 88%) !default;
$grey-400: hsl(0, 0%, 74%) !default;
$grey-500: hsl(0, 0%, 62%) !default;
$grey-600: hsl(0, 0%, 46%) !default;
$grey-700: hsl(0, 0%, 38%) !default;
$grey-800: hsl(0, 0%, 26%) !default;
$grey-900: hsl(0, 0%, 13%) !default;

$blue-grey-50: hsl(204, 15%, 94%) !default;
$blue-grey-100: hsl(198, 16%, 84%) !default;
$blue-grey-200: hsl(200, 15%, 73%) !default;
$blue-grey-300: hsl(200, 16%, 62%) !default;
$blue-grey-400: hsl(200, 15%, 54%) !default;
$blue-grey-500: hsl(200, 18%, 46%) !default;
$blue-grey-600: hsl(199, 18%, 40%) !default;
$blue-grey-700: hsl(199, 18%, 33%) !default;
$blue-grey-800: hsl(200, 18%, 26%) !default;
$blue-grey-900: hsl(200, 19%, 18%) !default;

$black: hsl(0, 0%, 0%) !default;
$white: hsl(0, 0%, 100%) !default;
