//----------------------------------------------------
//- Base: Config
//----------------------------------------------------

-
  var site = {
    title : "Qrac GitHub",
    desc : "Material Design ColorをSassで使いやすいよう変数化しました。",
    body : [ "mdtone", "mdtone-demo" ],
    url : "https://qrac.github.io/mdtone"
  }

-
  var pages = {
    index : {
      title : "MDTONE",
      desc : "Material Design ColorをSassで使いやすいよう変数化しました。",
      body : [ "mdtone-demo-index" ],
      agent : "rwd",
      url : "index.html",
      ogp : "ogp.png",
      login : "no"
    }
  }

-
  var path = {
    img : "img",
    font : "font",
    css : "css",
    js : "js"
  }

-
  var twitter = {
    id : "Qrac_JP",
    url : "https://twitter.com"
  }

-
  var github = {
    id : "qrac",
    repo : "mdtone",
    ver : "v2.0.0",
    license : "CC0 1.0 Public Domain",
    url : "https://github.com"
  }

-
  var color = {
    c01 : {
      order : "01",
      name : "MD Red",
      id : "red",
      amount : 14
    },
    c02 : {
      order : "02",
      name : "MD Pink",
      id : "pink",
      amount : 14
    },
    c03 : {
      order : "03",
      name : "MD Purple",
      id : "purple",
      amount : 14
    },
    c04 : {
      order : "04",
      name : "MD Deep Purple",
      id : "deep-purple",
      amount : 14
    },
    c05 : {
      order : "05",
      name : "MD Indigo",
      id : "indigo",
      amount : 14
    },
    c06 : {
      order : "06",
      name : "MD Blue",
      id : "blue",
      amount : 14
    },
    c07 : {
      order : "07",
      name : "MD Light Blue",
      id : "light-blue",
      amount : 14
    },
    c08 : {
      order : "08",
      name : "MD Cyan",
      id : "cyan",
      amount : 14
    },
    c09 : {
      order : "09",
      name : "MD Teal",
      id : "teal",
      amount : 14
    },
    c10 : {
      order : "10",
      name : "MD Green",
      id : "green",
      amount : 14
    },
    c11 : {
      order : "11",
      name : "MD Light Green",
      id : "light-green",
      amount : 14
    },
    c12 : {
      order : "12",
      name : "MD Lime",
      id : "lime",
      amount : 14
    },
    c13 : {
      order : "13",
      name : "MD Yellow",
      id : "yellow",
      amount : 14
    },
    c14 : {
      order : "14",
      name : "MD Amber",
      id : "amber",
      amount : 14
    },
    c15 : {
      order : "15",
      name : "MD Orange",
      id : "orange",
      amount : 14
    },
    c16 : {
      order : "16",
      name : "MD Deep Orange",
      id : "deep-orange",
      amount : 14
    },
    c17 : {
      order : "17",
      name : "MD Brown",
      id : "brown",
      amount : 8
    },
    c18 : {
      order : "18",
      name : "MD Grey",
      id : "grey",
      amount : 8
    },
    c19 : {
      order : "19",
      name : "MD Blue Grey",
      id : "blue-grey",
      amount : 8
    }
  }