//----------------------------------------------------
// Module: Group
//----------------------------------------------------

.pallet {
  width: 248px;
  margin-bottom: 32px;
  border-radius: 4px;
  font-size: 14px;
  font-family: $font-mono;
  text-transform: uppercase;
  overflow: hidden;
  .bar {
    padding: 6px 12px;
  }
  .bar.is-cut + .bar {
    margin-top: 4px;
  }
  .bar:nth-child(12) {
    margin-top: 4px;
  }
}

.pallet.is-red {
  .bar:first-child {
    background: $md-red-500;
    color: $light;
  }
  .bar:nth-child(2) {
    background: $md-red-50;
  }
  .bar:nth-child(3) {
    background: $md-red-100;
  }
  .bar:nth-child(4) {
    background: $md-red-200;
  }
  .bar:nth-child(5) {
    background: $md-red-300;
    color: $light;
  }
  .bar:nth-child(6) {
    background: $md-red-400;
    color: $light;
  }
  .bar:nth-child(7) {
    background: $md-red-500;
    color: $light;
  }
  .bar:nth-child(8) {
    background: $md-red-600;
    color: $light;
  }
  .bar:nth-child(9) {
    background: $md-red-700;
    color: $light;
  }
  .bar:nth-child(10) {
    background: $md-red-800;
    color: $light;
  }
  .bar:nth-child(11) {
    background: $md-red-900;
    color: $light;
  }
  .bar:nth-child(12) {
    background: $md-red-a100;
  }
  .bar:nth-child(13) {
    background: $md-red-a200;
    color: $light;
  }
  .bar:nth-child(14) {
    background: $md-red-a400;
    color: $light;
  }
  .bar:nth-child(15) {
    background: $md-red-a700;
    color: $light;
  }
}

.pallet.is-pink {
  .bar:first-child {
    background: $md-pink-500;
    color: $light;
  }
  .bar:nth-child(2) {
    background: $md-pink-50;
  }
  .bar:nth-child(3) {
    background: $md-pink-100;
  }
  .bar:nth-child(4) {
    background: $md-pink-200;
  }
  .bar:nth-child(5) {
    background: $md-pink-300;
    color: $light;
  }
  .bar:nth-child(6) {
    background: $md-pink-400;
    color: $light;
  }
  .bar:nth-child(7) {
    background: $md-pink-500;
    color: $light;
  }
  .bar:nth-child(8) {
    background: $md-pink-600;
    color: $light;
  }
  .bar:nth-child(9) {
    background: $md-pink-700;
    color: $light;
  }
  .bar:nth-child(10) {
    background: $md-pink-800;
    color: $light;
  }
  .bar:nth-child(11) {
    background: $md-pink-900;
    color: $light;
  }
  .bar:nth-child(12) {
    background: $md-pink-a100;
  }
  .bar:nth-child(13) {
    background: $md-pink-a200;
    color: $light;
  }
  .bar:nth-child(14) {
    background: $md-pink-a400;
    color: $light;
  }
  .bar:nth-child(15) {
    background: $md-pink-a700;
    color: $light;
  }
}

.pallet.is-purple {
  .bar:first-child {
    background: $md-purple-500;
    color: $light;
  }
  .bar:nth-child(2) {
    background: $md-purple-50;
  }
  .bar:nth-child(3) {
    background: $md-purple-100;
  }
  .bar:nth-child(4) {
    background: $md-purple-200;
  }
  .bar:nth-child(5) {
    background: $md-purple-300;
    color: $light;
  }
  .bar:nth-child(6) {
    background: $md-purple-400;
    color: $light;
  }
  .bar:nth-child(7) {
    background: $md-purple-500;
    color: $light;
  }
  .bar:nth-child(8) {
    background: $md-purple-600;
    color: $light;
  }
  .bar:nth-child(9) {
    background: $md-purple-700;
    color: $light;
  }
  .bar:nth-child(10) {
    background: $md-purple-800;
    color: $light;
  }
  .bar:nth-child(11) {
    background: $md-purple-900;
    color: $light;
  }
  .bar:nth-child(12) {
    background: $md-purple-a100;
  }
  .bar:nth-child(13) {
    background: $md-purple-a200;
    color: $light;
  }
  .bar:nth-child(14) {
    background: $md-purple-a400;
    color: $light;
  }
  .bar:nth-child(15) {
    background: $md-purple-a700;
    color: $light;
  }
}

.pallet.is-deep-purple {
  .bar:first-child {
    background: $md-deep-purple-500;
    color: $light;
  }
  .bar:nth-child(2) {
    background: $md-deep-purple-50;
  }
  .bar:nth-child(3) {
    background: $md-deep-purple-100;
  }
  .bar:nth-child(4) {
    background: $md-deep-purple-200;
  }
  .bar:nth-child(5) {
    background: $md-deep-purple-300;
    color: $light;
  }
  .bar:nth-child(6) {
    background: $md-deep-purple-400;
    color: $light;
  }
  .bar:nth-child(7) {
    background: $md-deep-purple-500;
    color: $light;
  }
  .bar:nth-child(8) {
    background: $md-deep-purple-600;
    color: $light;
  }
  .bar:nth-child(9) {
    background: $md-deep-purple-700;
    color: $light;
  }
  .bar:nth-child(10) {
    background: $md-deep-purple-800;
    color: $light;
  }
  .bar:nth-child(11) {
    background: $md-deep-purple-900;
    color: $light;
  }
  .bar:nth-child(12) {
    background: $md-deep-purple-a100;
  }
  .bar:nth-child(13) {
    background: $md-deep-purple-a200;
    color: $light;
  }
  .bar:nth-child(14) {
    background: $md-deep-purple-a400;
    color: $light;
  }
  .bar:nth-child(15) {
    background: $md-deep-purple-a700;
    color: $light;
  }
}

.pallet.is-indigo {
  .bar:first-child {
    background: $md-indigo-500;
    color: $light;
  }
  .bar:nth-child(2) {
    background: $md-indigo-50;
  }
  .bar:nth-child(3) {
    background: $md-indigo-100;
  }
  .bar:nth-child(4) {
    background: $md-indigo-200;
  }
  .bar:nth-child(5) {
    background: $md-indigo-300;
    color: $light;
  }
  .bar:nth-child(6) {
    background: $md-indigo-400;
    color: $light;
  }
  .bar:nth-child(7) {
    background: $md-indigo-500;
    color: $light;
  }
  .bar:nth-child(8) {
    background: $md-indigo-600;
    color: $light;
  }
  .bar:nth-child(9) {
    background: $md-indigo-700;
    color: $light;
  }
  .bar:nth-child(10) {
    background: $md-indigo-800;
    color: $light;
  }
  .bar:nth-child(11) {
    background: $md-indigo-900;
    color: $light;
  }
  .bar:nth-child(12) {
    background: $md-indigo-a100;
  }
  .bar:nth-child(13) {
    background: $md-indigo-a200;
    color: $light;
  }
  .bar:nth-child(14) {
    background: $md-indigo-a400;
    color: $light;
  }
  .bar:nth-child(15) {
    background: $md-indigo-a700;
    color: $light;
  }
}

.pallet.is-blue {
  .bar:first-child {
    background: $md-blue-500;
    color: $light;
  }
  .bar:nth-child(2) {
    background: $md-blue-50;
  }
  .bar:nth-child(3) {
    background: $md-blue-100;
  }
  .bar:nth-child(4) {
    background: $md-blue-200;
  }
  .bar:nth-child(5) {
    background: $md-blue-300;
  }
  .bar:nth-child(6) {
    background: $md-blue-400;
    color: $light;
  }
  .bar:nth-child(7) {
    background: $md-blue-500;
    color: $light;
  }
  .bar:nth-child(8) {
    background: $md-blue-600;
    color: $light;
  }
  .bar:nth-child(9) {
    background: $md-blue-700;
    color: $light;
  }
  .bar:nth-child(10) {
    background: $md-blue-800;
    color: $light;
  }
  .bar:nth-child(11) {
    background: $md-blue-900;
    color: $light;
  }
  .bar:nth-child(12) {
    background: $md-blue-a100;
  }
  .bar:nth-child(13) {
    background: $md-blue-a200;
    color: $light;
  }
  .bar:nth-child(14) {
    background: $md-blue-a400;
    color: $light;
  }
  .bar:nth-child(15) {
    background: $md-blue-a700;
    color: $light;
  }
}

.pallet.is-light-blue {
  .bar:first-child {
    background: $md-light-blue-500;
    color: $light;
  }
  .bar:nth-child(2) {
    background: $md-light-blue-50;
  }
  .bar:nth-child(3) {
    background: $md-light-blue-100;
  }
  .bar:nth-child(4) {
    background: $md-light-blue-200;
  }
  .bar:nth-child(5) {
    background: $md-light-blue-300;
  }
  .bar:nth-child(6) {
    background: $md-light-blue-400;
    color: $light;
  }
  .bar:nth-child(7) {
    background: $md-light-blue-500;
    color: $light;
  }
  .bar:nth-child(8) {
    background: $md-light-blue-600;
    color: $light;
  }
  .bar:nth-child(9) {
    background: $md-light-blue-700;
    color: $light;
  }
  .bar:nth-child(10) {
    background: $md-light-blue-800;
    color: $light;
  }
  .bar:nth-child(11) {
    background: $md-light-blue-900;
    color: $light;
  }
  .bar:nth-child(12) {
    background: $md-light-blue-a100;
  }
  .bar:nth-child(13) {
    background: $md-light-blue-a200;
  }
  .bar:nth-child(14) {
    background: $md-light-blue-a400;
    color: $light;
  }
  .bar:nth-child(15) {
    background: $md-light-blue-a700;
    color: $light;
  }
}

.pallet.is-cyan {
  .bar:first-child {
    background: $md-cyan-500;
    color: $light;
  }
  .bar:nth-child(2) {
    background: $md-cyan-50;
  }
  .bar:nth-child(3) {
    background: $md-cyan-100;
  }
  .bar:nth-child(4) {
    background: $md-cyan-200;
  }
  .bar:nth-child(5) {
    background: $md-cyan-300;
  }
  .bar:nth-child(6) {
    background: $md-cyan-400;
    color: $light;
  }
  .bar:nth-child(7) {
    background: $md-cyan-500;
    color: $light;
  }
  .bar:nth-child(8) {
    background: $md-cyan-600;
    color: $light;
  }
  .bar:nth-child(9) {
    background: $md-cyan-700;
    color: $light;
  }
  .bar:nth-child(10) {
    background: $md-cyan-800;
    color: $light;
  }
  .bar:nth-child(11) {
    background: $md-cyan-900;
    color: $light;
  }
  .bar:nth-child(12) {
    background: $md-cyan-a100;
  }
  .bar:nth-child(13) {
    background: $md-cyan-a200;
  }
  .bar:nth-child(14) {
    background: $md-cyan-a400;
  }
  .bar:nth-child(15) {
    background: $md-cyan-a700;
    color: $light;
  }
}

.pallet.is-teal {
  .bar:first-child {
    background: $md-teal-500;
    color: $light;
  }
  .bar:nth-child(2) {
    background: $md-teal-50;
  }
  .bar:nth-child(3) {
    background: $md-teal-100;
  }
  .bar:nth-child(4) {
    background: $md-teal-200;
  }
  .bar:nth-child(5) {
    background: $md-teal-300;
    color: $light;
  }
  .bar:nth-child(6) {
    background: $md-teal-400;
    color: $light;
  }
  .bar:nth-child(7) {
    background: $md-teal-500;
    color: $light;
  }
  .bar:nth-child(8) {
    background: $md-teal-600;
    color: $light;
  }
  .bar:nth-child(9) {
    background: $md-teal-700;
    color: $light;
  }
  .bar:nth-child(10) {
    background: $md-teal-800;
    color: $light;
  }
  .bar:nth-child(11) {
    background: $md-teal-900;
    color: $light;
  }
  .bar:nth-child(12) {
    background: $md-teal-a100;
  }
  .bar:nth-child(13) {
    background: $md-teal-a200;
  }
  .bar:nth-child(14) {
    background: $md-teal-a400;
  }
  .bar:nth-child(15) {
    background: $md-teal-a700;
    color: $light;
  }
}

.pallet.is-green {
  .bar:first-child {
    background: $md-green-500;
    color: $light;
  }
  .bar:nth-child(2) {
    background: $md-green-50;
  }
  .bar:nth-child(3) {
    background: $md-green-100;
  }
  .bar:nth-child(4) {
    background: $md-green-200;
  }
  .bar:nth-child(5) {
    background: $md-green-300;
  }
  .bar:nth-child(6) {
    background: $md-green-400;
    color: $light;
  }
  .bar:nth-child(7) {
    background: $md-green-500;
    color: $light;
  }
  .bar:nth-child(8) {
    background: $md-green-600;
    color: $light;
  }
  .bar:nth-child(9) {
    background: $md-green-700;
    color: $light;
  }
  .bar:nth-child(10) {
    background: $md-green-800;
    color: $light;
  }
  .bar:nth-child(11) {
    background: $md-green-900;
    color: $light;
  }
  .bar:nth-child(12) {
    background: $md-green-a100;
  }
  .bar:nth-child(13) {
    background: $md-green-a200;
  }
  .bar:nth-child(14) {
    background: $md-green-a400;
  }
  .bar:nth-child(15) {
    background: $md-green-a700;
    color: $light;
  }
}

.pallet.is-light-green {
  .bar:first-child {
    background: $md-light-green-500;
    color: $light;
  }
  .bar:nth-child(2) {
    background: $md-light-green-50;
  }
  .bar:nth-child(3) {
    background: $md-light-green-100;
  }
  .bar:nth-child(4) {
    background: $md-light-green-200;
  }
  .bar:nth-child(5) {
    background: $md-light-green-300;
  }
  .bar:nth-child(6) {
    background: $md-light-green-400;
  }
  .bar:nth-child(7) {
    background: $md-light-green-500;
    color: $light;
  }
  .bar:nth-child(8) {
    background: $md-light-green-600;
    color: $light;
  }
  .bar:nth-child(9) {
    background: $md-light-green-700;
    color: $light;
  }
  .bar:nth-child(10) {
    background: $md-light-green-800;
    color: $light;
  }
  .bar:nth-child(11) {
    background: $md-light-green-900;
    color: $light;
  }
  .bar:nth-child(12) {
    background: $md-light-green-a100;
  }
  .bar:nth-child(13) {
    background: $md-light-green-a200;
  }
  .bar:nth-child(14) {
    background: $md-light-green-a400;
  }
  .bar:nth-child(15) {
    background: $md-light-green-a700;
    color: $light;
  }
}

.pallet.is-lime {
  .bar:first-child {
    background: $md-lime-500;
  }
  .bar:nth-child(2) {
    background: $md-lime-50;
  }
  .bar:nth-child(3) {
    background: $md-lime-100;
  }
  .bar:nth-child(4) {
    background: $md-lime-200;
  }
  .bar:nth-child(5) {
    background: $md-lime-300;
  }
  .bar:nth-child(6) {
    background: $md-lime-400;
  }
  .bar:nth-child(7) {
    background: $md-lime-500;
  }
  .bar:nth-child(8) {
    background: $md-lime-600;
    color: $light;
  }
  .bar:nth-child(9) {
    background: $md-lime-700;
    color: $light;
  }
  .bar:nth-child(10) {
    background: $md-lime-800;
    color: $light;
  }
  .bar:nth-child(11) {
    background: $md-lime-900;
    color: $light;
  }
  .bar:nth-child(12) {
    background: $md-lime-a100;
  }
  .bar:nth-child(13) {
    background: $md-lime-a200;
  }
  .bar:nth-child(14) {
    background: $md-lime-a400;
  }
  .bar:nth-child(15) {
    background: $md-lime-a700;
  }
}

.pallet.is-yellow {
  .bar:first-child {
    background: $md-yellow-500;
  }
  .bar:nth-child(2) {
    background: $md-yellow-50;
  }
  .bar:nth-child(3) {
    background: $md-yellow-100;
  }
  .bar:nth-child(4) {
    background: $md-yellow-200;
  }
  .bar:nth-child(5) {
    background: $md-yellow-300;
  }
  .bar:nth-child(6) {
    background: $md-yellow-400;
  }
  .bar:nth-child(7) {
    background: $md-yellow-500;
  }
  .bar:nth-child(8) {
    background: $md-yellow-600;
  }
  .bar:nth-child(9) {
    background: $md-yellow-700;
  }
  .bar:nth-child(10) {
    background: $md-yellow-800;
  }
  .bar:nth-child(11) {
    background: $md-yellow-900;
    color: $light;
  }
  .bar:nth-child(12) {
    background: $md-yellow-a100;
  }
  .bar:nth-child(13) {
    background: $md-yellow-a200;
  }
  .bar:nth-child(14) {
    background: $md-yellow-a400;
  }
  .bar:nth-child(15) {
    background: $md-yellow-a700;
  }
}

.pallet.is-amber {
  .bar:first-child {
    background: $md-amber-500;
  }
  .bar:nth-child(2) {
    background: $md-amber-50;
  }
  .bar:nth-child(3) {
    background: $md-amber-100;
  }
  .bar:nth-child(4) {
    background: $md-amber-200;
  }
  .bar:nth-child(5) {
    background: $md-amber-300;
  }
  .bar:nth-child(6) {
    background: $md-amber-400;
  }
  .bar:nth-child(7) {
    background: $md-amber-500;
  }
  .bar:nth-child(8) {
    background: $md-amber-600;
  }
  .bar:nth-child(9) {
    background: $md-amber-700;
    color: $light;
  }
  .bar:nth-child(10) {
    background: $md-amber-800;
    color: $light;
  }
  .bar:nth-child(11) {
    background: $md-amber-900;
    color: $light;
  }
  .bar:nth-child(12) {
    background: $md-amber-a100;
  }
  .bar:nth-child(13) {
    background: $md-amber-a200;
  }
  .bar:nth-child(14) {
    background: $md-amber-a400;
  }
  .bar:nth-child(15) {
    background: $md-amber-a700;
    color: $light;
  }
}

.pallet.is-orange {
  .bar:first-child {
    background: $md-orange-500;
    color: $light;
  }
  .bar:nth-child(2) {
    background: $md-orange-50;
  }
  .bar:nth-child(3) {
    background: $md-orange-100;
  }
  .bar:nth-child(4) {
    background: $md-orange-200;
  }
  .bar:nth-child(5) {
    background: $md-orange-300;
  }
  .bar:nth-child(6) {
    background: $md-orange-400;
  }
  .bar:nth-child(7) {
    background: $md-orange-500;
    color: $light;
  }
  .bar:nth-child(8) {
    background: $md-orange-600;
    color: $light;
  }
  .bar:nth-child(9) {
    background: $md-orange-700;
    color: $light;
  }
  .bar:nth-child(10) {
    background: $md-orange-800;
    color: $light;
  }
  .bar:nth-child(11) {
    background: $md-orange-900;
    color: $light;
  }
  .bar:nth-child(12) {
    background: $md-orange-a100;
  }
  .bar:nth-child(13) {
    background: $md-orange-a200;
  }
  .bar:nth-child(14) {
    background: $md-orange-a400;
    color: $light;
  }
  .bar:nth-child(15) {
    background: $md-orange-a700;
    color: $light;
  }
}

.pallet.is-deep-orange {
  .bar:first-child {
    background: $md-deep-orange-500;
    color: $light;
  }
  .bar:nth-child(2) {
    background: $md-deep-orange-50;
  }
  .bar:nth-child(3) {
    background: $md-deep-orange-100;
  }
  .bar:nth-child(4) {
    background: $md-deep-orange-200;
  }
  .bar:nth-child(5) {
    background: $md-deep-orange-300;
  }
  .bar:nth-child(6) {
    background: $md-deep-orange-400;
    color: $light;
  }
  .bar:nth-child(7) {
    background: $md-deep-orange-500;
    color: $light;
  }
  .bar:nth-child(8) {
    background: $md-deep-orange-600;
    color: $light;
  }
  .bar:nth-child(9) {
    background: $md-deep-orange-700;
    color: $light;
  }
  .bar:nth-child(10) {
    background: $md-deep-orange-800;
    color: $light;
  }
  .bar:nth-child(11) {
    background: $md-deep-orange-900;
    color: $light;
  }
  .bar:nth-child(12) {
    background: $md-deep-orange-a100;
  }
  .bar:nth-child(13) {
    background: $md-deep-orange-a200;
    color: $light;
  }
  .bar:nth-child(14) {
    background: $md-deep-orange-a400;
    color: $light;
  }
  .bar:nth-child(15) {
    background: $md-deep-orange-a700;
    color: $light;
  }
}

.pallet.is-brown {
  .bar:first-child {
    background: $md-brown-500;
    color: $light;
  }
  .bar:nth-child(2) {
    background: $md-brown-50;
  }
  .bar:nth-child(3) {
    background: $md-brown-100;
  }
  .bar:nth-child(4) {
    background: $md-brown-200;
  }
  .bar:nth-child(5) {
    background: $md-brown-300;
    color: $light;
  }
  .bar:nth-child(6) {
    background: $md-brown-400;
    color: $light;
  }
  .bar:nth-child(7) {
    background: $md-brown-500;
    color: $light;
  }
  .bar:nth-child(8) {
    background: $md-brown-600;
    color: $light;
  }
  .bar:nth-child(9) {
    background: $md-brown-700;
    color: $light;
  }
  .bar:nth-child(10) {
    background: $md-brown-800;
    color: $light;
  }
  .bar:nth-child(11) {
    background: $md-brown-900;
    color: $light;
  }
}

.pallet.is-grey {
  .bar:first-child {
    background: $md-grey-500;
    color: $light;
  }
  .bar:nth-child(2) {
    background: $md-grey-50;
  }
  .bar:nth-child(3) {
    background: $md-grey-100;
  }
  .bar:nth-child(4) {
    background: $md-grey-200;
  }
  .bar:nth-child(5) {
    background: $md-grey-300;
  }
  .bar:nth-child(6) {
    background: $md-grey-400;
  }
  .bar:nth-child(7) {
    background: $md-grey-500;
    color: $light;
  }
  .bar:nth-child(8) {
    background: $md-grey-600;
    color: $light;
  }
  .bar:nth-child(9) {
    background: $md-grey-700;
    color: $light;
  }
  .bar:nth-child(10) {
    background: $md-grey-800;
    color: $light;
  }
  .bar:nth-child(11) {
    background: $md-grey-900;
    color: $light;
  }
}

.pallet.is-blue-grey {
  .bar:first-child {
    background: $md-blue-grey-500;
    color: $light;
  }
  .bar:nth-child(2) {
    background: $md-blue-grey-50;
  }
  .bar:nth-child(3) {
    background: $md-blue-grey-100;
  }
  .bar:nth-child(4) {
    background: $md-blue-grey-200;
  }
  .bar:nth-child(5) {
    background: $md-blue-grey-300;
    color: $light;
  }
  .bar:nth-child(6) {
    background: $md-blue-grey-400;
    color: $light;
  }
  .bar:nth-child(7) {
    background: $md-blue-grey-500;
    color: $light;
  }
  .bar:nth-child(8) {
    background: $md-blue-grey-600;
    color: $light;
  }
  .bar:nth-child(9) {
    background: $md-blue-grey-700;
    color: $light;
  }
  .bar:nth-child(10) {
    background: $md-blue-grey-800;
    color: $light;
  }
  .bar:nth-child(11) {
    background: $md-blue-grey-900;
    color: $light;
  }
}

.pallet.is-black-and-white {
  .bar:first-child {
    background: $md-black;
    color: $light;
  }
  .bar:nth-child(2) {
    background: $md-white;
  }
}