//----------------------------------------------------
// Module: Heading
//----------------------------------------------------

.heading.is-title {
  font-size: 48px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}